[submodule "gin-backend"]
	path = gin-backend
	url =  https://github.com/JulioAlb2/API_recolecta_julio.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Denzel-Santiago/RecolectaWeb.git
[submodule "map-view"]
	path = map-view
	url = https://github.com/Denzel-Santiago/MapaRecolecta.git
