[submodule "gin-backend"]
	path = gin-backend
	url = https://github.com/Yara-Molina/API_recolecta.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Yara-Molina/RecolectaWeb_Fork.git
[submodule "map-view"]
	path = map-view
	url = https://github.com/Yara-Molina/MapaRecolectaFork.git
